.dots{
    padding: 4px 8px;
}
.slick-arrow{
display: flex;
    background: black;
  color: black;
}

.slick-next{


}
.slick-dots li button{
    background: #E2E4F2;
    padding: 2px 20px;
    border-radius: 6px;
    margin-bottom: 40px;
}

.slick-dots li button.active{

}