.about{
    display: flex;
}
.block{
    padding: 20px;
    background: #FFFFFF;
    box-shadow: rgba(9, 30, 66, 0.25) 0 4px 8px -2px, rgba(9, 30, 66, 0.08) 0 0 0 1px;
    margin: 30px 9px;
}
.block:hover {
    transition: .5s;
    transform: scale(1.05);
}

.title{
    font-style: normal;
    font-weight: 900;
    font-size: 17px;
    line-height: 21px;
    color: #2A2D46;

}
.about-1{
    padding: 0 20px 0 0;
}

.about-1 p{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    color: #2C3BA0;

}
.about-2 *{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    color: #646986;
}

.promax{
    padding: 21px 0;
    margin-left: 20px;
   }





