.numbers{
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nubers h1{
  font-style: normal;
  font-weight: 900;
  font-size: 100px;
  line-height: 61px;
  color: #2A2D46;

}
.numbers p{
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  /* identical to box height */


  /* Цвет текста */

  color: #2A2D46;

}