.react-tabs__tab-list{
  border-bottom: none;

}
.react-tabs__tab:focus{
  color: #0C76D8;
}
.title1 {
  font-style: normal;
  font-weight: 900;
  font-size: 25px;
  line-height: 30px;
  color: #2A2D46;
  padding-top: 60px;
}
.flex-d{
  display: flex;
  justify-content: space-between;
}